## <summary>policy for keylime</summary>

########################################
## <summary>
##      Add to specified type to keylime_type attribute .
## </summary>
## <param name="type">
##      <summary>
##      Type to be used for keylime domains.
##      </summary>
## </param>
#
interface(`keylime_use_keylime_domain',`
        gen_require(`
                attribute keylime_domain;
        ')

        typeattribute $1 keylime_domain;
')

########################################
## <summary>
##      Mounton keylime lib directory.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`keylime_mounton_var_lib',`
        gen_require(`
                type keylime_var_lib_t;
        ')

        allow $1 keylime_var_lib_t:dir mounton;
')
